{% include head.html %}

<body>
  <div class="issue-1">
    <div class="issue-cover">
      <div class="main-logo">
        <h1>The Daily Portal</h1>
      </div>
      <ul class="social-bar">
        <li><a href="#" class="social-bar__rss"><i class="icon-rss"></i></a></li>
        <li><a href="#" class="social-bar__adn">α</a></li>
        <li><a href="#" class="social-bar__tw"><i class="icon-twitter"></i></a></li>
        <li><a href="#" class="social-bar__fb"><i class="icon-facebook-sign"></i></a></li>
      </ul>

  </div>
  {%include footer.html%}

</body>