{%include head.html%}

<body>
  <div class="story">
    <div class="story-cover"><img src="/img/philip.jpg" alt="What is Virtual? What is Real? Cover photo"><div class="story-cover__headline"><h1><a href="/">The Daily Portal</a></h1>
      <h2>What is virtual? What is real?</h2>
    </div></div>
    <div class="story-about">
      <p>Philip Rosedale and I discuss the boundary between virtual reality and, you know, reality.</p>
      <p class="by-line">by Jon Mitchell</p>
    </div>
    <div class="story-content">
      <p class="story-intro"><strong>I DID NOT</strong> expect to enjoy the Wisdom 2.0 conference, so for the first day of it, I didn't. Expectations have a way of fulfilling themselves.</p>
      <p>I spent the first day wandering around the expertly curated art and letting it open my mind. Then I started talking to people. Then it clicked.</p>
      <p>Even if this conference at this stage is just a glimmer of what's to come, conversations between spiritual and digital technologists might be able to save humanity.</p>
      <p>It's like the two sides <a href="#">of the brain</a>. We need the left and right hemispheres to work in concert in order to express our full potential. As a global organism, we're just starting to learn to talk. That's what Wisdom 2.0 represents, along with many other embryonic efforts. And soon, we'll start learning to walk.</p>
      <img src="/img/issue-cover-n1.jpg" alt="">
      <p class="story-content__img-title">Wisdom 2.0 guests was really brave enough.</p>
      <p>Wisdom 2.0 is trying something brave. For four years running, it has held a well-produced conference with esteemed guests from both sides of the technological and spiritual divide. When the guests get on stage, they have to shout their talks across the divide however they can.</p>
      <p>The challenge is to come up with a common language in which to have this conversation. The tech world speaks in terms of data, results, quantity, and sustainability. Future-oriented spiritual teachers, drawing mostly from Buddhist traditions, speak about patience, non-attachment, quality, and impermanence. Conversations across this gap tend to get vague very quickly.</p>
      <p>Consequently, most of the talks I saw were kind of goofy. But conference programming is almost always goofy. It's the attendees who make the event interesting, and I can say this for sure about Wisdom 2.0: The right people were there.</p>
      <p>I think the problem with the content was only this: The effort to bridge the tech/soul gap is so new that no one has had time to become an expert yet.</p>
      <p>Most of the regular attendees I spoke to were pretty good at code-switching between tech and spirituality, especially people in my age cohort. Those of us who are just starting our careers by looking at both sets of problems are going to accomplish some awesome things together.</p>
      <p>Some of the speakers were already well on their way, of course. Justin Rosenstein from Asana — who previously invented Facebook's 'Like' button — stole the show if you ask me. (click here to watch in case the terrible video player Wisdom 2.0 chose isn't working in your browser.)</p>
      <p class="by-line">- Jon Mitchell</p>
  </div>

  <div class="back-home">
    <p><a href="/"><i class="icon-home"></i> Back to Issue</a></p>
  </div>

  <div class="site-nav">
    <ul>
      <li class="site-nav__season"><a href="/season/"><i class="icon-calendar"></i>Season</a></li>
      <li class="site-nav__about"><a href="/about/"><i class="icon-edit"></i>About</a></li>
      <li class="site-nav__follow"><a><i class="icon-rss"></i>Follow</a></li>
    </ul>
  </div>

{%include footer.html%}

</body>
