---
layout: blank
title: About The Daily Portal
---

{%include head.html%}

<body>
  <div class="story page-about">
    <div class="story-cover">
      <h1><a href="/" class="logo-diamond">The Daily Portal</a></h1>
      <img src="/img/about-header.jpg" alt=""></div>
    <div class="story-content">
      <p class="story-intro"><strong>THE DAILY PORTAL</strong> is about the future we’re making and what it’s doing to us.</p>
      <p>Each day’s issue will bring you multimedia stories from the fields of technology, design, science, and art, with a healthy helping of philosophy and spirituality. It’s an experiment in <strong>cosmos journalism</strong>, looking at the world’s very biggest and very smallest stories through the lens of the human beings right  in the middle of it all.</p>
      <p><img src="/img/about-jon.png" alt="Jon Mitchell" class="right">Your host is <strong>Jon Mitchell</strong>, a journalist based in Oakland, California. Jon creates multi-week seasons of coverage, stringing together episodes of reporting from far-flung places. You can see the season plan in advance and donate to fund the coverage. The season calendar will show you what’s coming up, and you can browse all the past issues and seasons. At the end of each season, Jon will package up all the issues and make them available as a book.</p>
      <p>All stories on the site will be available for free. Seasons of The Daily Portal are funded by readers, so there’s no advertising.</p>
      <img src="/img/about-hegruber.jpg" alt="">
      <p></p>
      <p>The portal concept is inspired by the artist <a href="/post/2013/05/13/portalmaker">Harlan Emil Gruber</a>, who makes resonating portal sculptures for Burning Man and other festivals. After a series of <a href="http://blog.burningman.com/2012/09/tales-from-the-playa/keeping-the-portal/">transformative experiences</a> in Harlan’s portals, Jon was inspired to build The Daily Portal as a journalist’s version of Harlan’s creations, writing stories designed to intensify one’s view of the world.</p>
      <img src="/img/about-turquoise.jpg" alt="">

  </div>

  <a name="contact"></a><div class="contact-button">
    <table>
      <tr>
        <td class="icon"><a href="index.html"><i class="icon-edit"></i></a></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td class="label"><p><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=l-1;i>=0;i--) {try{o+=x.c" +
"harAt(i);}catch(e){}}return o;}f(\")\\\"function f(x,y){var i,o=\\\"\\\\\\\""+
"\\\\,l=x.length;for(i=0;i<l;i++){y%=127;o+=String.fromCharCode(x.charCodeAt" +
"(i)^(y++));}return o;}f(\\\"\\\\hbmz}t|g:bd~l|vu4?\\\\\\\\\\\"\\\\~\\\\\\\\" +
"000IPFB\\\\\\\\030z\\\\\\\\005EHCGXB\\\\\\\\024E__rWU\\\\\\\\\\\\\\\\ZNHVHO" +
"]Q\\\\\\\\020\\\\\\\\\\\\\\\\/\\\\\\\\035`}\\\\\\\\007*(3)*>k\\\\\\\\006\\\\"+
"\\\\\\\"\\\\ o1%n1&uyix\\\\\\\\r2>|\\\\\\\\031?6\\\\\\\\014\\\\\\\\030B3\\\\"+
"\\\\013\\\\\\\\027\\\\\\\\022\\\\\\\\006\\\\\\\\004UE\\\\\\\\nROGT@J\\\"\\\\"+
",12)\\\"(f};)lo,0(rtsbus.o nruter};)i(tArahc.x=+o{)--i;0=>i;1-l=i(rof}}{)e(" +
"hctac};l=+l;x=+x{yrt{)84=!)31/l(tAedoCrahc.x(elihw;lo=l,htgnel.x=lo,\\\"\\\""+
"=o,i rav{)x(f noitcnuf\")"                                                   ;
while(x=eval(x));
//-->
//]]>
</script>
</p></td>
      </tr>
    </table>
  </div>

  {% include bottom_nav.html %}

  <br>
  <br>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script>
    $(document).ready( function() {
      $('.logo-diamond').hover(
      function() { $(this).toggleClass('animated pulse') });

    });
  </script>

</body>