  <div class="site-nav {{ nav_class }} footer">
    <ul>
      <li class="site-nav__season"><a href="/season/"><i class="icon-calendar"></i>Season</a></li>
      <li class="site-nav__about"><a href="/about/"><i class="icon-edit"></i>About</a></li>
      <li class="site-nav__follow"><a href="/follow/"><i class="icon-rss"></i>Follow</a></li>
    </ul>
  </div>
    <footer class="copyright">
        <p>2013 / An Ablaze Interaction<p>
        <p>design <a href="http://problemsf.com">by P</a> / engineering <a href='http://rumproarious.com'>by Alex Kessinger</a> / theme <a href='http://belitsky.info/'>by Dmitry Belitsky</a></p>
    </footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39663302-1']);
  _gaq.push(['_setDomainName', 'thedailyportal.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>