<head>
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }} ๛</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.meta_description }}">
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="http://thedailyportal.com/images/thedailyportal-logo.png"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}/"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }} ๛"/>
  <meta property="og:site_name" content="{{ site.title }} ๛"/>
  <meta property="og:description"
  content="{{ page.meta_description }}"/>
  <meta name="apple-mobile-web-app-title" content="Portal ๛">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png" />
  <meta http-equiv="expires" content="0">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700|Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  {% stylesheet normalize %}
  {% stylesheet app %}
</head>