<div class="main-logo">
  <h1><a href="/">{{ site.title }}</a></h1>
</div>
<ul class="social-bar">
    <li><a href="/atom.xml" class="social-bar__rss"><i class="icon-rss"></i></a></li>
    <li><a href="https://app.net/thedailyportal" rel="me" class="social-bar__adn">α</a></li>
    <li><a href="https://twitter.com/thedailyportal" class="social-bar__tw"><i class="icon-twitter"></i></a></li>
    <li><a href="https://facebook.com/thedailyportal" class="social-bar__fb"><i class="icon-facebook-sign"></i></a></li>
</ul>
